*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(244, 247, 250);
    position: relative;
}

nav{
    padding: 0 40px;
    background-color: rgb(244, 247, 250);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
}

#header-title a{
    text-decoration: none;
    color: rgb(127, 127, 255);
    font-size: 2rem;
    font-weight: 800;
}

#header-link a{
    text-decoration: none;
    padding: 0 10px;
    color: rgb(133, 128, 128);
}

#login-item a{
    text-decoration: none;
    padding: 0 10px;
    color: gray;
}

/* Navbar style end here */

/* header main page style start here */

header{
    height: 70vh;
    padding: 20px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}

#header-page-title{
    width: 100%;
}

#header-page-title h1{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 40px;
}

#header-page-title p{
    font-size: 1.1rem;
    color: rgb(167, 161, 161);
    margin-bottom: 40px;
}

#header-subscribe-form input{
    text-align: center;
    padding: 10px;
    background-color: #e8ebf8;
    border-radius: 5px;
    border: 0;
}

#header-subscribe-form input:nth-child(2){
    background-color: rgb(115, 115, 243);
    color: white;
    font-weight: 900;
    border: none;
}

#header-page-image img{
    object-fit: contain;
    width: 100%;
    height: auto;
}

#awesome-feature{
    text-align: center;
    padding: 0 50px;
    margin-bottom: 50px;
}

#feature-text h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#feature-text p{
    font-size: .9rem;
    color: gray;
}

#creativity-features{
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#creativity-features-image img{
    width: 100%;
    height: 100%;
}

#creativity-features-text{
    width: 100%;
    height: 100%;
    padding-top: 80px;
}

#creativity-features-text h1{
    font-size: xx-large;
    margin-bottom: 20px;
}

#creativity-features-text h3{
    font-size: 1.7rem;
    margin-bottom: 20px;
}

#creativity-features-text p{
    font-size: .9rem;
    margin-bottom: 30px;
}

.creative-footer-text p{
    font-weight: bolder;
}

#creativity-btn a{
    text-decoration: none;
    background-color: #5a4fdc;
    color: white;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 3px;
}

#creativity-btn a:nth-child(2){
    background-color: #dedbf8;
    color: #5a4fdc;
}