@media screen and (max-width: 650px) and (min-width: 350px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
    }

    #logo-text a {
        font-size: 1rem;
    }

    .toggle {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 50px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgb(244, 247, 250);
        display: block;
        text-align: center;
        line-height: 50px;
        padding-top: 35%;
        transition: .5s ease-out;
    }

    #account-container {
        margin-left: 0;
    }

    #check:checked~ul{
        left: 0;
    }

    /* Header container */
    #header-container {
        text-align: center;
        height: auto;
        padding: 30px 10px;
        grid-template-columns: 1fr;
    }

    #header-page-title h1 {
        font-size: 1.5rem;
        line-height: normal;
    }

    #header-page-title p {
        font-size: 1rem;
    }



}