* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(244, 247, 250);
    position: relative;
}

nav {
    padding: 0 20px;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 0 #ffffff, 5px 0 0 #f8f7f7;
}

#logo-text a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #5445f5;
    font-weight: lighter;
}

#check {
    display: none;
}

.toggle {
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;

    display: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: gray;
    font-weight: 300;
    border-radius: 4px;

    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s;
}

nav ul li a:hover {
    color: #fff;
    box-shadow: inset 120px 0 0 0 #9b92ff;
}

.active {
    color: #7f73fd;
}

#account-container {
    margin-left: 150px;
}

#account-container a {
    text-decoration: none;
    color: gray;
    font-weight: 300;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #7f73fd;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s;
}

#account-container a:nth-child(1) {
    background-color: #9b92ff;
    color: #fff;
    font-weight: 900;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s ease;
}

#account-container a:nth-child(1):hover {
    box-shadow: inset 100px 0 0 0 #fff;
    color: #212529;
    font-weight: lighter;
}

#account-container a:nth-child(2):hover {
    box-shadow: inset 100px 0 0 0 #9b92ff;
    color: #fff;
    border: 1px solid transparent;
}


/* header main page style start here */

#header-container {
    height: 85vh;
    padding: 20px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}

#header-page-title {
    width: 100%;
}

#header-page-title h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
}


#header-page-title p {
    font-size: 1.1rem;
    color: rgb(167, 161, 161);
    margin-bottom: 30px;
}

#header-subscribe-form input {
    text-align: center;
    padding: 10px;
    background-color: #e8ebf8;
    border-radius: 5px;
    border: 0;
}

#header-subscribe-form input[type="email"]:focus {
    outline: 0;
}

#header-subscribe-form input:nth-child(2) {
    background-color: rgb(115, 115, 243);
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

#header-page-image img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.awesome-feature {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 10px;
}

#feature-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

#feature-text p {
    font-size: .9rem;
    color: gray;
    font-family: 'Quicksand', sans-serif;
}

#creativity-features {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}

#creativity-features-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#creativity-features-text {
    width: 100%;
    height: 100%;
    padding-top: 80px;
}

#creativity-features-text h1 {
    font-size: xx-large;
    margin-bottom: 10px;
    font-family: 'Lora', serif;
}

#creativity-features-text h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-family: 'Cormorant Garamond', serif;
}

#creativity-features-text p {
    font-size: .9rem;
    margin-bottom: 30px;
    font-family: 'Work Sans', sans-serif;
}

.creative-footer-text p {
    font-weight: bolder;
    font-family: 'Work Sans', sans-serif;
}

#creativity-btn a {
    text-decoration: none;
    background-color: #5a4fdc;
    color: white;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s;
}

#creativity-btn a:nth-child(2) {
    background-color: #dedbf8;
    color: #5a4fdc;
}

#creativity-btn a:nth-child(1):hover {
    box-shadow: inset 130px 0 0 0 #fff;
    color: #000;
}

#creativity-btn a:nth-child(2):hover {
    box-shadow: inset 130px 0 0 0 #000;
    color: #fff;
}


/* Choose your plan */

#plan-container {
    margin: 30px 70px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#plan-container .plan-item {
    text-align: center;
    background-color: #e8ebf8;
    padding: 10px 30px 20px;
    border-radius: 5px;
    height: 110px;
    overflow: hidden;
    transition: .5s ease-in;
}

#plan-container .plan-item:hover {
    height: 380px;
}

.plan-item p {
    line-height: 40px;
    color: gray;
}

.plan-money i {
    padding: 15px;
    /* font-size: 2rem; */
    background-color: #5a4fdc;
    color: white;
    border-radius: 10px 10px 0 10px;
    margin-bottom: 10px;
}

.plan-money i:nth-child(2) {
    border-radius: 0 10px 10px 10px;
}

.plan-money h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.plan-money h1 {
    font-size: 3rem;
}

.plan-money h1 span {
    font-size: 1rem;
}

.plan-money p {
    font-weight: bold;
    color: gray;
}

.plan-benifit a {
    text-decoration: none;
    border: 1px solid #5a4fdc;
    border-radius: 5px;
    color: #5a4fdc;
    padding: 5px 15px;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s ease-in;
}

.plan-benifit a:hover {
    box-shadow: inset 110px 0 0 0 #5a4fdc;
    color: #fff;
}

/* Letest news container */

#letest-news-container {
    margin: 30px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.letest-news-item {
    padding: 10px;
    border-radius: 5px;
    transition: .5s ease-in;
}

.letest-news-item:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.letest-image img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.admin-and-calender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.calender,
.admin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calender i,
.admin i {
    color: #b0a9ff;
}

.letest-text h1 {
    margin: 5px 0 10px;
    font-family: 'Cormorant Garamond', serif;
}

.letest-text p {
    font-family: 'Cormorant Garamond', serif;
}

.learn-more-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    cursor: pointer;
    transition: .1s;
}

.learn-more-btn a {
    text-decoration: none;
    color: #000;
    transition: .3s;
}

.learn-more-btn i {
    transition: .5s;
}

.learn-more-btn:hover {
    gap: 15px;
    color: #7f73fd;
}

.learn-more-btn a:hover {
    color: #7f73fd;
}

.learn-more-btn:hover i {
    transform: rotate(360deg);
}

/* Contact us */

#contact-us {
    margin: 30px 70px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

#contact-form-item {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    color: gray;
}

#contact-form-item div {
    width: 100%;
}

#contact-form-item input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 3px;
    outline: 1px solid transparent;
    outline-offset: 1px;
}

#contact-form-item input:focus {
    outline: 1px solid #9b92ff;
    border: 1px solid #9b92ff;
}

textarea {
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 30px;
    width: 100%;
    height: 150px;

    outline: 1px solid transparent;
    outline-offset: 1px;
}

textarea:focus {
    outline: 1px solid #9b92ff;
    border: 1px solid #9b92ff;
}

.send-message-btn {
    width: 148px;
    background-color: #7f73fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
}

.send-message-btn input {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.send-message-btn .fa-arrow-right {
    color: #fff;
    background-color: #5445f5;
    padding: 8px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.send-message-btn:hover {
    width: 180px;
}

.send-message-btn:hover .fa-arrow-right {
    visibility: visible;
    opacity: 1;
    transform: rotate(360deg);
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 50px;
    color: gray;
}

.contact-info i {
    font-size: 1.5rem;
}

footer {
    background-color: #212529;
    color: gray;
    padding: 30px 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#footer-name h2 {
    color: #5445f5;
    margin-bottom: 10px;
}

#footer-social-icon {
    margin: 20px 0;
}

#footer-social-icon i {
    font-size: 1.3rem;
    padding: 0 10px;
}

.footer-link h4 {
    color: white;
    margin-bottom: 20px;
}

.footer-link a {
    display: block;
    text-decoration: none;
    line-height: 30px;
    color: rgb(156, 148, 148);
}